element {
}
#t3-footer, .t3-copyright, .t3-copyright ul li a, .t3-footnav .t3-module ul > li > a {
    font-size: 14px;
}
#t3-footer {
    font-size: 18px;
    text-align: left;
}
#t3-footer, .t3-copyright, .t3-copyright ul li a, .t3-footnav .t3-module ul > li > a {
    font-size: 14px;
}
#t3-footer {
    background: #404041;
    border: none;
    color: #ffffff;
    font-family: Lato;
    font-size: 11px;
    font-weight: 300;
}
.t3-footer {
    padding-top: 42px;
}
.t3-footer {
    border-top: 1px solid #eeeeee;
    background: #f8f8f8;
    color: #555555;
}
.wrap {
    width: auto;
    clear: both;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, .fancypantsaccordionholder .accordion .accordion-item .headerlink, .fancypantsaccordionholder .accordion .accordion-item .acc-content, #section2 .section-2-2 .module-title, .t3-count h2, #section2, #section2 h3, #section2 .module-title, #section2 h1, #section2 h2, .seeAll a, .aboutSectionContent, .page-title, .page-header h1, .stories-inner .article-title, .stories-inner .article-header h1, .t3-banner2 h3 {
    font-weight: 300;
}
body {
    font-size: 25px;
}
body {
    color: #272224;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
}
html {
    font-size: 10px;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}